@import "./src/assets/styles/variables.scss";
@import "./src/assets/styles/mixins.scss";

@import "./dashboard/dashboard.scss";
@import "./operation/services/list/servicesList";

.office__main {

  .layout__sidebar {
    width: $width-sidebar;
    height: 100vh;
    position: fixed;
    //left: -180px;
    top: 0;
    //@include box-shadow-right;
  }

  .office__container {
    margin-left: $width-sidebar;
    width: calc(100% - 260px);
    height: 100vh;
    background: $background;

    .layout__topbar {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      height: $height-topbar;
      @include box-shadow-toolbar;
      padding: 0 1.5rem;
      background: $sidebar-color-hover;
    }

    .layout__breadcrumb {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      height: $height-breadcrumb;
      border-bottom: 1px solid $border;
      padding: 0 1.5rem;
    }

    .layout__content {
      padding: 1.5rem;

      .view-main {
        .header-view {
          padding: 1rem;
          height: 120px;
          background-color: $white;
          @include card;
          display: grid;
          grid-template-rows: repeat(2, 1fr);
          grid-template-columns: repeat(10, minmax(140px, 1fr));
          grid-gap: .7rem;
        }

        .content-view {
          margin-top: 15px;
          @include card;


        }
      }
    }
  }
}



