@import "./src/assets/styles/variables.scss";
@import "./src/assets/styles/mixins.scss";

@import "./login/login.scss";
@import "./register/register.scss";
@import "./passwordRecovery/passwordRecovery.scss";

.auth__main {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/img/backoffice-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @include table() {
    justify-content: flex-end;
  }

  .auth__box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    background: rgba(255, 255, 255, .6);
    width: 80%;
    min-width: 280px;
    height: 450px;
    border-radius: $border-radius-card;
    @include box-shadow;

    @include table() {
      padding: 1.5rem 2.5rem;
      width: 33%;
      min-width: 300px;
      max-width: 450px;
      height: 100vh;
      @include box-shadow-left;
      background: $white;

    }

    .auth__header {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 300px;

      img {
        width: 85%;
      }

      @include table() {
        img {
          width: 50%;
        }
      }

    }

    .auth__form {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 280px;

      h3 {
        @include vertical-margin;
      }

      .p-float-label {
        width: 100%;
        @include vertical-margin;
      }

      .button-large {
        width: 100%;
        @include vertical-margin;
      }
    }

    .auth__footer {
      border-top: 1px solid $border;
      width: 100%;
      height: 200px;

      .button-a {
        width: 100%;
        @include button-a;
        transition: all .2s ease-in-out;

        &:hover {
          color: $link-color-hover !important;
          transition: all .2s ease-in-out;
        }
      }
    }
  }
}

