@import "./src/assets/styles/mixins";
@import "./src/assets/styles/variables";

* {
  margin: 0px;
}

body, html {
  height: 100vh;
  width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

a {
  text-decoration: none;
  color: $white;
}

.display-block {
  visibility: visible;
  opacity: 1;
  height: auto;
  transition: visibility 0s, opacity 0.2s linear;
}

.display-none {
  visibility: hidden;
  opacity: 0;
  height: 0;
  transition: visibility 0s, opacity 0.2s linear;
}

// UI
@import './src/Screens/ui/sidebar/sidebar';
@import './src/Screens/ui/topbar/topbar';
@import './src/Screens/ui/breadcrumb/breadcrumb';

// Components
@import "./src/components/components";

// ==== Screens ====
// Auth
@import './src/Screens/auth/auth';


// Office
@import './src/Screens/office/office';




